<h1>{{title}}</h1>
<p>Visual List of Posts</p>
<table>
  <thead>
    <th>Title</th>
    <th>Content</th>
  </thead>
  <tbody>
    {{#data}}
    <tr>
      <td>{{title}}
      </td>
      <td>{{content}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>